<?xml version="1.0"?>
<model>
    <name>iCubs_arm</name>

    <version>1.0</version>
    <sdf version='1.5'>test_arm.sdf</sdf>

    <author>
        <name>Silvio Traversaro, Marco Randazzo</name>
        <email>silvio.traversaro@iit.it, marco.randazzo@iit.it</email>
    </author>

    <description>
        Model of only the iCUbs right arm
    </description>
</model>
