<?xml version="1.0"?>
<model>
    <name>cup</name>
    
    <version>1.0</version>
    <sdf version='1.6'>cup.sdf</sdf>
    
    <author>
        <name>Torsten Fietzek</name>

    </author>
    
    <description>
        Simple cup model. (Adapted from 3D-Viewer 3D-Bibliothek)
    </description>
</model>
